%h1 Список конференций

%table
  %tr
    %th Название
    %th Дата проведения
    %th Текст
    %th

  - @conferences.each do |conference|
    %tr
      %td= conference.title
      %td= conference.date_conference
      %td= conference.content
      %td= link_to 'Подробнее', conference


%br

