$sansFontFamily: 'HelveticaNeue', 'Helvetica', Arial, sans-serif
$baseFontFamily: $sansFontFamily

body, p, h1, h2, h3, h4, h5, h6
  line-height: 1.2em

.navbar
  font-family: $sansFontFamily

$TitleBig: 38px

$HeadFontSize: 22px

$TitleMiddle: 14px

$FooterTextBig: $HeadFontSize

$FooreTextmiddle: 16px

$TwitterTitle: $FooreTextmiddle

$ConferenceTitle: 24px

$ConferenceDate: $TitleMiddle

$ConferenceText: 12px

$PresentationBigTitle: 22px

$PresentationMiddleTitle: 18px

$PresentationAutor: 16px

$PresentationText: 14px

$PresentationLinkBack: $PresentationAutor