body
  background-color: #00B9F1

A
  color: #F05A3F
  text-decoration: none

A:hover
  color: #F05A3F
  text-decoration: none

.header
  background-color: #006892
  -webkit-border-radius: 0 0 0 0
  -moz-border-radius: 0 0 0 0
  border-radius: 0 0 0 0
  color: white
  background-image: none
  border: 0
  padding: 30px 0

.head-text-big
  font-size: 28px
  line-height: 1.5

.body-title
  box-shadow: 0 0 0 0
  padding: 50px 0

.body
  background-color: #F5F5F5
  -webkit-border-radius: 10px 10px 10px 10px
  -moz-border-radius: 10px 10px 10px 10px
  border-radius: 10px 10px 10px 10px
  box-shadow: 0 3px 4px rgba(0, 0, 0.15, 0.25)

.body-title i
  float: right

.body-menu-block
  font-size: 22px
  margin-bottom: 15px


.title-big
  font-size: 38px
  font-weight: bold
  color: white
  line-height: 1.2

.title-big a
  color: white

.title-middle
  font-size: 14px
  color: white
  margin-top: 25px
  padding-top: 5px

.title-padding
  padding-left: 15px

.title-text
  color: white
  font-size: 14px
  font-weight: bold
  margin: 10px 0

.title-text a
  color: white

.conf-view-block
  padding: 0

.footer
  padding: 40px 0
  color: white
  font-size: 16px

.footer .row
  padding: 15px 0

.footer-title
  font-size: 24px
  display: block

.conf-block
  background-color: white
  margin: 0 0 10px -20px
  padding: 20px

.conf-block-title
  color: #F05A3F
  font-size: 24px
  font-weight: bold
  padding-bottom: 20px
  line-height: 1.2

.conf-block-title a
  color: #F05A3F


.conf-block-date
  color: #F05A3F
  font-size: 14px
  padding-bottom: 10px

.conf-block-date i
  padding-right: 5px

.conf-block-text
  font-size: 12px

.conf-link
  color: #F05A3F
  font-size: 12px

.conf-link a
  color: #F05A3F
  font-size: 12px

.twitt-block
  margin-right: -21px
  margin-top: -20px
  margin-bottom: -20px
  -webkit-border-radius: 0 10px 10px 0
  -moz-border-radius: 0 10px 10px 0
  border-radius: 0 10px 10px 0

.twitt-block-title
  font-size: 16px
  font-weight: bold
  padding: 15px 0

.twitt-border
  border: 1px solid #ADADAD
  border-radius: 10px
  padding: 10px
  font-size: 12px