.twitt-block
  margin-right: -20px
  padding-bottom: 20px
  background-color: $backgroundTwittBlock
  +border-radius(0 10px 10px 0)

.twitt-block-title
  font-size: $twitterTitle
  font-weight: bold
  padding: 15px 0
  margin-top: 5px

.twitt-border
  padding: 12px 10px 10px 35px
  margin: 5px 0 0 -7px
  border: 1px solid $gray
  +border-radius(10px)

.twitt-text
  font-size: $twitterText
  padding-bottom: 10px