$colorDark: #016893
$colorLight: #3bc5d9
$colorBlue: #00acf0
$colorBlueDark: #015581
$colorOrangeDark: #E7402E
$orange: #e16e5c

// $baseFontFamily: Arial, Verdana, Helvetica, sans-serif
// $altFontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif

$linkColor: $colorOrangeDark
$textColor: #353535

$baseFontSize: 13px

$headingsFontWeight: normal