$bodyBackground: #00B9F1

$linkColor: #F05A3F
$linkColorHover: #F05A3F

$gray: rgb(100,100,100)
$grayLight: lighten($gray,30%)
$grayLighter: lighten($gray,40%)
$grayLightest: lighten($gray,50%)

$navbarHeight: 118px

$headerBackgroundColor: #006892

//Цвет фона верхнего меню в контейнере
$bodyBackgroundColorMenu: #eee

//Цвет фонового блока для твиттера
$backgroundTwittBlock: #EAEAEA

//Цвета css иконок
$circleImageBackground: #F38465
$rectangleImageBackground: #EA6D51
$colorRectangleBackground: #F7D2C2

//Цвет иконок из блока презентации для шары
$colorBlueBlock: #A4DEF8