.container.body-title
  .row-fluid
    .span1.title-big
      %i.fontello-icon-megaphone.icon-size-48
    .span11.title-big.v-align-top
      = @conference.title
  .row
    .span1.title-middle
      %i.fontello-icon-calendar.icon-size-24.v-align-top
    .span11.title-middle.v-align-middle
      мероприятие прошло 
      = l @conference.date_conference if @conference.present?
  .row
    .span1.title-middle
      %i.fontello-icon-info-circled.icon-size-24.v-align-top
    .span10.title-middle.v-align-middle
      = @conference.content.html_safe