%footter.footer
  .container
    .row-fluid
      .span2
        .footer-logo
          = link_to root_url do
            =image_tag('logo_footer.jpg')
      .span8
        .row
          .footer-title
            Контакты
          .footer-text
            Данил Письменный, Данил Письменный, Данил Письменный
        .row
          .footer-title
            Партнеры
          .footer-text
            Данил Письменный, Данил Письменный, Данил Письменный
        .row
          .footer-title
            Коллеги по цеху
          .footer-text
            Данил Письменный, Данил Письменный, Данил Письменный

