.container.footer
  .row
    .span2
      = link_to '/' do
        %img{:src => '/assets/logo_footer.jpg'}
    .span2.footer-title
      Контакты
    .span8
      Данил Письменный, Данил Письменный, Данил Письменный
  .row
    .span2.offset2.footer-title
      Партнеры
    .span8
      Данил Письменный, Данил Письменный, Данил Письменный
  .row
    .span2.offset2.footer-title
      Коллеги по цеху
    .span8
      Данил Письменный, Данил Письменный, Данил Письменный
