%footter.footer
  .container
    .row-fluid
      .span2
        .footer-logo
          = link_to root_url do
            =image_tag('logo_footer.jpg')
      .span8.footer-block
        .row-fluid.footer-row-block
          .span3
            .footer-title
              Контакты
          .span9
            .footer-text
              Данил Письменный, Данил Письменный, Данил Письменный
        .row-fluid.footer-row-block
          .span3
            .footer-title
              Партнеры
          .span9
            .footer-text
              Данил Письменный, Данил Письменный, Данил Письменный
        .row-fluid.footer-row-block
          .span5
            .footer-title
              Коллеги по цеху
          .span7
            .footer-text.footer-ceh
              Данил Письменный, Данил Письменный

