%header#header.navbar.navbar-static-top
  %nav.navbar-inner
    .container
      .row
        .span3
          = link_to root_path, {:class => "logo"} do
            = image_tag 'chebit_logo_white.png'
        %big.span5
          %span Свободная конференция
          веб-разработчиков
        .span4.pull-right
          %b Попросите рассказать
          о том,
          %br
          что вам интересно
          %br
          %br
          %b Сделайте доклад
          о том, что знаете вы