%header.navbar.navbar-static-top
  %nav.navbar-inner
    .container
      = link_to root_url, :class => 'brand' do
        %b CHEBIT
        %small - свободная конференция веб-разработчиков в Чебоксарах
        -# = image_tag('logo_head.jpg')
      .pull-right
        = render_navigation :expand_all => true, :renderer => :bootstrap
