.navbar-inner.header
  .container
    .row
      .span2
        = link_to '/' do
          %img{:src => '/assets/logo_head.jpg'}
      .span4.offset1.head-text-big
        Свободная конференция
        %br
        веб-разработчиков
      .span3.offset1
        %b Попросите рассказать
        о том,
        %br
        что вам интересно узнать
        %br
        %br
        %b Сделайте доклад
        о том что вы знаете