.navbar-inner.header
  .container
    .row 
    .row-fluid
      .span2.logo-top
        = link_to root_url do
          = image_tag('logo_head.jpg')
      .span10.presentation-link-back
        = link_to conference_path(@presentation.conference) do
          .row-fluid
            .span1
              %i.fontello-icon-left-open-big.icon-size-32.v-align-middle
            .span9
              %strong 
                = @presentation.conference.title
              %br
              вернуться к выступлениям конференции