.navbar-inner.header
  .container
    .row
      .span2
        %img{:src => '/assets/logo_head.jpg'}
      .span4.offset1.head-text-big
        Свободная конференция
        %br
        веб-разработчиков
      .span3.offset1
        %b Попросите рассказать
        о том,
        %br
        что вам интересно узнать
        %br
        %br
        %b Сделайте доклад
        о том что вы знаете
.container.body-title
  .row
    .span1.title-big
      %i.fontello-icon-megaphone.icon-size-48
    .span11.title-big.v-align-bottom
      = @conf.title unless @conf.nil?
  .row
    .span1.title-middle
      %i.fontello-icon-calendar.icon-size-24.v-align-top
    .span11.title-middle.v-align-middle
      мероприятие прошло 23.02.2012